<!-- Header -->
    <header class="about_us">
        <div class="container">
            <div class="intro-text">
                <div class="about-lead-in">AI on Asset</div>
                <p>An exciting new begining. A Continewly Mission to increase asset utilization.</p>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section  class="bg-light-gray about_us_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2 class="section-heading">The Mission</h2>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <p>AI on Asset is the first ever artificial intelligence defect detection platform using images captured from cameras based on UAV,Helicopters and ground for the utilities. Aim Asset is on a mission to automate defect detection on asset through images primarily catering to Power,Oil and Gas and Infrastructure sector. It serves a highly intelligent and sophisticated tool for infra companies ,which can scan through huge amount of image data and converting them into meaningful insights for maintenance.These eliminates the data inaccuracy and time consuming tasks that currently limit the operation and maintenance of Assets. It helps infra sector to increase asset utilization at minimum cost,thus putting them on an accelerated path of revenue.</p>
                </div>
            </div>
            
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline quicklinks">
                        <li><a href="javascript:void(0)">Company</a>
                        </li>
                        <li><a href="about_us.html">About Us</a>
                        </li>
                        <li><a href="javascript:void(0)">Contact Us</a>
                        </li>
                        <li><a href="javascript:void(0)">Partners</a>
                        </li>
                        <li><a href="javascript:void(0)">Career</a>
                        </li>
                        <li><a href="javascript:void(0)">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            
            <div class="modal-body login_form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="free_trial_form">
                            <div class="trial_form_heading">
                                <h3>Sign In</h3>
                                <p>Lorem Ipsum is simply dummy text of passages of and type setting industry.</p>
                            </div>
                            
                            <form class="form-horizontal" method="post" action="#" id="login_form">
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">First Name</label>
                                    <div class="cols-sm-10">
                                        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                                     </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Email Address</label>
                                    <div class="cols-sm-10">
                                        <input type="text" class="form-control" name="email_address" id="email_address"  placeholder="Enter your email address"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">Phone Number</label>
                                    <div class="cols-sm-10">
                                        <input  name="phone_number" placeholder="Phone Number" class="form-control"  type="text">
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="cols-sm-2 control-label">Password</label>
                                    <div class="cols-sm-10">
                                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                    </div>
                                </div>

                               
                                <div class="height_30"></div>

                                <div class="form-group text-right">
                                    <button type="button" class="btn btn-xl">Login</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>