<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand " routerLink = "home"><span class="logo_sub_text">AIon</span>ASSET<br><span class="logo_small_text">By</span> <span class="logo_black_text">Arcturus Business Solutions</span></a>
                <p></p>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse arctus_nav" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a  routerLink= "aboutus">About Us</a>
                    </li>
                    <li>
                        <a  routerLink = "howitworks">How It Works</a>
                    </li>
                    <li >
                        <a  routerLink = "solution">Solution</a>
                        
                    </li>
                    <li >
                        <a  routerLink = "pricing">Pricing</a>
                        
                    </li>
                    <li>
                        <a  routerLink = "customer">Customers</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)">Support</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Sign In</a>
                    </li>
                    <li class="always_active">
                        <a  routerLink = "starttrial">Start Free Trial</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>