<!-- Header -->
    <header class="pricing">
        <div class="container">
            <div class="col-lg-12 prices">
                <div class="pricing_details ">
                    <div class="row ">
                        <div class="col-sm-4 col-md-4">
                            <div class="row text-center">
                                <div class="col-lg-12 pricing_top_head">
                                   <h3>Sprout</h3>
                                   <p>To Get your Started</p> 
                                </div>
                            </div>
                            <div class="option">
                                <div class="option-title active">
                                    <h3>Free</h3>
                                </div>
                                <div class="option-price">
                                    <span class="price">50 Photo</span>
                                </div>
                                <div class="option-list">
                                    <ul class="item-list">
                                        <li>Enterprise Report</li>
                                        <li><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; Live Chat</li>
                                        <li><span>09:00 - 06:00</span></li>
                                        <li>5 User Login</li>                            
                                        <li><div class="qr" id="order1"></div></li>        
                                    </ul>
                                    <button type="button" class="btn btn-success big"><i class="fa fa-hand-o-right hided-icon big"></i> Start Trial</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="row text-center">
                                <div class="col-lg-12 pricing_top_head">
                                   <h3>Garden</h3>
                                   <p>Best Value for</p> 
                                </div>
                            </div>
                            <div class="option">
                                <div class="option-title">
                                    <h3>&nbsp;</h3>
                                </div>

                                <div class="option-price">
                                    <span class="price">1000 Photo</span>
                                </div>
                                <div class="option-list">
                                    <ul class="item-list">
                                        <li>Enterprise Detail Report</li>
                                        <li><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; Live Chat Channel</li>
                                        <li><span>24 X 7</span></li>
                                        <li>Multiple User Login</li>                            
                                        <li><div class="qr" id="order1"></div></li>        
                                    </ul>
                                    <button type="button" class="btn btn-success big"><i class="fa fa-hand-o-right hided-icon big"></i> Start Trial</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="row text-center">
                                <div class="col-lg-12 pricing_top_head">
                                   <h3>Forest</h3>
                                   <p>Tailor Made</p> 
                                </div>
                            </div>
                            <div class="option">
                                <div class="option-title">
                                    <h3>&nbsp;</h3>
                                </div>

                                <div class="option-price">
                                    <span class="price">Unlimited Photos</span>
                                </div>
                                <div class="option-list">
                                    <ul class="item-list">
                                        <li>Uav/Helicopter/Camera Mapping</li>
                                        <li><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; Live Chat Channel</li>
                                        <li><span>24 X 7</span></li>
                                        <li>Comprehensive support</li>                            
                                        <li><div class="qr" id="order1"></div></li>        
                                    </ul>
                                    <button type="button" class="btn btn-success big"><i class="fa fa-hand-o-right hided-icon big"></i> Start Trial</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section >
        <div class="container">
            
            <div class="row text-center">
                <div class="col-lg-12">
                    <p>Upgrade from diffrent Plans at any time to take advantage of <br> expanded capabilities.</p>

                </div>
            </div>
            
        </div>
    </section>
    
    <section  class="bg-light-gray">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 contact-info-section">
                   <p> +91-9985674815</p>
                   <p> 504, Wellington Business Park-2,<br>
                        Andheri Kurla Road, Andheri East, <br>
                        Mumbai - 400 059.India.</p>
                    <p>ankit12345@gmail.com</p>
                </div>
                <div class="col-md-8">
                    <div class="bg-white-box pd-t-b-50 pd-l-r-70 home-about-us">
                        <h3>Want to know latest about us?</h3>
                        <label>Subscribe to Logiquebrain Blogs</label>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Enter your email address">
                          <span class="input-group-btn">
                            <button class="btn btn-about-us" type="button"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline quicklinks">
                        <li><a href="javascript:void(0)">Company</a>
                        </li>
                        <li><a href="about_us.html">About Us</a>
                        </li>
                        <li><a href="javascript:void(0)">Contact Us</a>
                        </li>
                        <li><a href="javascript:void(0)">Partners</a>
                        </li>
                        <li><a href="javascript:void(0)">Career</a>
                        </li>
                        <li><a href="javascript:void(0)">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            
            <div class="modal-body login_form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="free_trial_form">
                            <div class="trial_form_heading">
                                <h3>Sign In</h3>
                                <p>Lorem Ipsum is simply dummy text of passages of and type setting industry.</p>
                            </div>
                            
                            <form class="form-horizontal" method="post" action="#" id="login_form">
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">First Name</label>
                                    <div class="cols-sm-10">
                                        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                                     </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Email Address</label>
                                    <div class="cols-sm-10">
                                        <input type="text" class="form-control" name="email_address" id="email_address"  placeholder="Enter your email address"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">Phone Number</label>
                                    <div class="cols-sm-10">
                                        <input  name="phone_number" placeholder="Phone Number" class="form-control"  type="text">
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="cols-sm-2 control-label">Password</label>
                                    <div class="cols-sm-10">
                                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                    </div>
                                </div>

                               
                                <div class="height_30"></div>

                                <div class="form-group text-right">
                                    <button type="button" class="btn btn-xl">Login</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>