<!-- Header -->
    <header class="solution">
        <div class="container">
            <div class="intro-text">
                <div class="howit-lead-in">Steel Structure <br>Services</div>
            </div>
        </div>
    </header>
    
    
    <section id="steel_structure">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 solution_sections">
                    <img src="img/about_us/solution_section1.png"  alt="Rust on Structures">
                    <h2 class="section-heading">Steel Structures Services</h2>
                    <h4>Rust on Structures</h4>
                    <p>The fundamental of all infrastructure is steel. Steel is vulnerable to rust. Rusting of Structures causes huge loss to infrastructure Companies. It just no impact the financials but also create safety concerns. </p>
                    <p>Our unique rust detection solution provides faster insight into rust detection. A faster detection creates a well schedule maintenance plan.
                    </p>
                    <a href="javascript:void(0)" class="page-scroll btn btn-dflt">Take a Tour &nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a> <a href="solution_schedule_demo.html" class="page-scroll btn btn-xl">Schedule a Demo &nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light-gray" id="telecom">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 solution_sections">
                    <img src="img/about_us/solution_section2.png"  alt="Telecom Services">
                    <h2 class="section-heading">Telecom Services</h2>
                    <h4>Rust on tower members, missing and loose N&B</h4>
                    <p>Telecom companies have created a large network of Telecom towers to provide uninterepted services to the customers. Maintaining such a large infrastructure is a major challenge. Our Solution for this sector allows them to take fast action on maintenance of this infrastructure, which decreases the time and cost of maintenance. </p>
                    <a href="javascript:void(0)" class="page-scroll btn btn-dflt">Take a Tour &nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a> <a href="solution_schedule_demo.html" class="page-scroll btn btn-xl">Schedule a Demo &nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="refinery">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 solution_sections">
                    <img src="img/about_us/solution_section3.png"  alt="Refinery Services">
                    <h2 class="section-heading">Refinery Services</h2>
                    <h4>Missing and loose N&B, Rust on Structures</h4>
                    <p>Refineries companies struggles to keep their infrastructure rust free .Detection and identification of degree of rust has been a major problem. Rusting of pipelines has corroded a large junk of finances. Our solution allow the refineries to detect degree of rust using Artificial Intelligence at a faster pace. </p>
                    <a href="javascript:void(0)" class="page-scroll btn btn-dflt">Take a Tour &nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a> <a href="solution_schedule_demo.html" class="page-scroll btn btn-xl">Schedule a Demo &nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light-gray_border" id="power_transition">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 solution_sections">
                    <img src="img/about_us/solution_section4.png"  alt="Power Transmission Services">
                    <h2 class="section-heading">Power Transmission Services</h2>
                    <h4>Insulator Defects, missing and loose N&B, Rust on tower members </h4>
                    <p>Most power Transmission Companies have created large infrastructure. To keep this infrastructure in operations huge resources are deployed. To keep the infrastructure always operational is a huge challenge. Our solution for this sector allows the companies to take fast action on maintenance of the asset, which increases the efficiency of the system.</p>
                    <a href="javascript:void(0)" class="page-scroll btn btn-dflt">Take a Tour &nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a> <a href="solution_schedule_demo.html" class="page-scroll btn btn-xl">Schedule a Demo &nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section  class="bg-light-gray">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 contact-info-section">
                   <p> +91-9985674815</p>
                   <p> 504, Wellington Business Park-2,<br>
                        Andheri Kurla Road, Andheri East, <br>
                        Mumbai - 400 059.India.</p>
                    <p>ankit12345@gmail.com</p>
                </div>
                <div class="col-md-8">
                    <div class="bg-white-box pd-t-b-50 pd-l-r-70 home-about-us">
                        <h3>Want to know latest about us?</h3>
                        <label>Subscribe to Logiquebrain Blogs</label>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Enter your email address">
                          <span class="input-group-btn">
                            <button class="btn btn-about-us" type="button"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline quicklinks">
                        <li><a href="javascript:void(0)">Company</a>
                        </li>
                        <li><a href="about_us.html">About Us</a>
                        </li>
                        <li><a href="javascript:void(0)">Contact Us</a>
                        </li>
                        <li><a href="javascript:void(0)">Partners</a>
                        </li>
                        <li><a href="javascript:void(0)">Career</a>
                        </li>
                        <li><a href="javascript:void(0)">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>