<!-- Header -->
    <header class="about_us">
        <div class="container">
            <div class="intro-text">
                <div class="about-lead-in">Get Started with a 14-day Free Trial</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim and minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section  class="bg-light-gray about_us_content">
        <div class="container">
            <div class="row ">
                <div class="col-lg-7">
                    <div class="image_paragraph">
                       <h3>Calender</h3>
                       <p>Lorem Ipsum is simply dummy text of the printing and type setting industry popular belief. natus error sit voluptatem ad minima veniam, quis nostrum.</p> 
                    </div>
                    <div class="image_paragraph work_flow">
                       <h3>Workflow</h3>
                       <p>Lorem Ipsum is simply dummy text of the printing and type setting industry popular belief. natus error sit voluptatem ad minima veniam, quis nostrum.</p> 
                    </div>
                    <div class="image_paragraph asset_library">
                       <h3>Asset Library</h3>
                       <p>Lorem Ipsum is simply dummy text of the printing and type setting industry popular belief. natus error sit voluptatem ad minima veniam, quis nostrum.</p> 
                    </div>
                    <div class="image_paragraph analytics_icon">
                       <h3>Analytics</h3>
                       <p>Lorem Ipsum is simply dummy text of the printing and type setting industry popular belief. natus error sit voluptatem ad minima veniam, quis nostrum.</p> 
                    </div> 
                </div>
                <div class="col-lg-5">
                    <div class="free_trial_form">
                        <div class="trial_form_heading">
                            <h3>Get Started</h3>
                            <p>Lorem Ipsum is simply dummy text of passages of and type setting industry.</p>
                        </div>
                        
                        <form class="form-horizontal" method="post" action="#" id="get_started_form">
                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">First Name</label>
                                <div class="cols-sm-10">
                                    <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                                 </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Business Email</label>
                                <div class="cols-sm-10">
                                    <input type="text" class="form-control" name="businees_email" id="businees_email"  placeholder="Enter business email"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username" class="cols-sm-2 control-label">Password</label>
                                <div class="cols-sm-10">
                                    <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Confirm Password</label>
                                <div class="cols-sm-10">
                                    <input type="text" class="form-control" name="confrm_password" id="confrm_password"  placeholder="Confirm Password"/>
                                </div>
                            </div>

                            <div class="height_30"></div>

                            <div class="form-group text-right">
                                <button type="button" class="btn btn-xl">Start Free Trial</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline quicklinks">
                        <li><a href="javascript:void(0)">Company</a>
                        </li>
                        <li><a href="about_us.html">About Us</a>
                        </li>
                        <li><a href="javascript:void(0)">Contact Us</a>
                        </li>
                        <li><a href="javascript:void(0)">Partners</a>
                        </li>
                        <li><a href="javascript:void(0)">Career</a>
                        </li>
                        <li><a href="javascript:void(0)">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            
            <div class="modal-body login_form">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="free_trial_form">
                            <div class="trial_form_heading">
                                <h3>Sign In</h3>
                                <p>Lorem Ipsum is simply dummy text of passages of and type setting industry.</p>
                            </div>
                            
                            <form class="form-horizontal" method="post" action="#" id="login_form">
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">First Name</label>
                                    <div class="cols-sm-10">
                                        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                                     </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Email Address</label>
                                    <div class="cols-sm-10">
                                        <input type="text" class="form-control" name="email_address" id="email_address"  placeholder="Enter your email address"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">Phone Number</label>
                                    <div class="cols-sm-10">
                                        <input  name="phone_number" placeholder="Phone Number" class="form-control"  type="text">
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="cols-sm-2 control-label">Password</label>
                                    <div class="cols-sm-10">
                                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                    </div>
                                </div>

                               
                                <div class="height_30"></div>

                                <div class="form-group text-right">
                                    <button type="button" class="btn btn-xl">Login</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>